node_modules/
.dist/
.env
.env.*
.DS_Store
coverage/
logs/
*.log
*.pid
**/*.map
dist/
build/
.tmp/
.idea/
.vscode/
railway.json
**/.env*
pgdata/
Dockerfile
**/*.local.*
**/*.secret.*
**/*.key
**/*.pem
**/.cache/
**/.turbo/
**/.next/
**/out/
**/.serverless/
**/.vercel/
**/.DS_Store
**/npm-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/package-lock.json
**/pnpm-lock.yaml
**/yarn.lock
